<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user_name}} to your blog!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">Title:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="form-group">
        <label for="blog-cont">Content:</label>
        <textarea class="form-input" id="blog-cont" name="blog-cont"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Current Posts:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class='card'>
      <div class="card-header">
        <h3><a href="/blog/{{blog.id}}">{{blog.name}}</a></h3>
      <span>Posted by {{blog.user.user_name}} on {{format_date blog.date_created}}</span>
      </div>
      <div class="card-body">
        <p>
          {{blog.content}}
        </p>
      </div>
    </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
